<%= javascript_include_tag "breeds" %> 
<div class="dog">
  <h1>It's a dog</h1>
  <h3><%= @breed.name.humanize %></h3>
  <h3>Bread: <%= select_tag "breed", options_for_select(get_breed_list) %></h3>
  <div class="image">
   <%= image_tag @breed.pic_url %>
  </div>
  
</div>
